ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvMenu/srvMenu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvMenu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51801/srvMenu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51801/srvMenu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51801/srvMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMenu_obtenerMenu_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenu_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerMenu_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenu_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerMenu_RestID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenu_RestID" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerMenu_RestID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenu_RestIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_agregarMenu_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarMenu_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_agregarMenu_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarMenu_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_modificarMenu_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarMenu_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_modificarMenu_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarMenu_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_eliminarMenu_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMenu_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_eliminarMenu_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMenu_RestResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMenu">
    <wsdl:operation name="obtenerMenu_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenu_Rest" message="tns:IsrvMenu_obtenerMenu_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenu_RestResponse" message="tns:IsrvMenu_obtenerMenu_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMenu_RestID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenu_RestID" message="tns:IsrvMenu_obtenerMenu_RestID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenu_RestIDResponse" message="tns:IsrvMenu_obtenerMenu_RestID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarMenu_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/agregarMenu_Rest" message="tns:IsrvMenu_agregarMenu_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/agregarMenu_RestResponse" message="tns:IsrvMenu_agregarMenu_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarMenu_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/modificarMenu_Rest" message="tns:IsrvMenu_modificarMenu_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/modificarMenu_RestResponse" message="tns:IsrvMenu_modificarMenu_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMenu_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/eliminarMenu_Rest" message="tns:IsrvMenu_eliminarMenu_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/eliminarMenu_RestResponse" message="tns:IsrvMenu_eliminarMenu_Rest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMenu" type="tns:IsrvMenu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerMenu_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/obtenerMenu_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMenu_RestID">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/obtenerMenu_RestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarMenu_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/agregarMenu_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarMenu_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/modificarMenu_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMenu_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/eliminarMenu_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMenu">
    <wsdl:port name="BasicHttpBinding_IsrvMenu" binding="tns:BasicHttpBinding_IsrvMenu">
      <soap:address location="http://localhost:51801/srvMenu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>