ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvMenu/srvMenu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51801/srvMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerMenu_Rest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMenu_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMenu_RestResult" nillable="true" type="q1:ArrayOfTREST_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMenu_RestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdMenu" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMenu_RestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMenu_RestIDResult" nillable="true" type="q2:TREST_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMenu_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMenu" nillable="true" type="q3:TREST_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMenu_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarMenu_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMenu_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMenu" nillable="true" type="q4:TREST_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMenu_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarMenu_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMenu_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMenu" nillable="true" type="q5:TREST_MENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMenu_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMenu_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>