ProyectoFinal_UI/Connected Services/srvMesas/srvMesas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvMesas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61599/srvMesas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61599/srvMesas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61599/srvMesas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMesas_obtenerMesas_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMesas" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_obtenerMesas_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMesasResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_obtenerMesaID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMesaID" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_obtenerMesaID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMesaIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_agregarMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarMesa" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_agregarMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarMesaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_modificarMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarMesa" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_modificarMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarMesaResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_eliminarMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMesa" />
  </wsdl:message>
  <wsdl:message name="IsrvMesas_eliminarMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarMesaResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMesas">
    <wsdl:operation name="obtenerMesas">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMesas/obtenerMesas" message="tns:IsrvMesas_obtenerMesas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMesas/obtenerMesasResponse" message="tns:IsrvMesas_obtenerMesas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerMesaID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMesas/obtenerMesaID" message="tns:IsrvMesas_obtenerMesaID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMesas/obtenerMesaIDResponse" message="tns:IsrvMesas_obtenerMesaID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMesas/agregarMesa" message="tns:IsrvMesas_agregarMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMesas/agregarMesaResponse" message="tns:IsrvMesas_agregarMesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMesas/modificarMesa" message="tns:IsrvMesas_modificarMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMesas/modificarMesaResponse" message="tns:IsrvMesas_modificarMesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMesas/eliminarMesa" message="tns:IsrvMesas_eliminarMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMesas/eliminarMesaResponse" message="tns:IsrvMesas_eliminarMesa_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMesas" type="tns:IsrvMesas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerMesas">
      <soap:operation soapAction="http://tempuri.org/IsrvMesas/obtenerMesas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerMesaID">
      <soap:operation soapAction="http://tempuri.org/IsrvMesas/obtenerMesaID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarMesa">
      <soap:operation soapAction="http://tempuri.org/IsrvMesas/agregarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarMesa">
      <soap:operation soapAction="http://tempuri.org/IsrvMesas/modificarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarMesa">
      <soap:operation soapAction="http://tempuri.org/IsrvMesas/eliminarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMesas">
    <wsdl:port name="BasicHttpBinding_IsrvMesas" binding="tns:BasicHttpBinding_IsrvMesas">
      <soap:address location="http://localhost:61599/srvMesas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>