ProyectoFinal_UI/Connected Services/srvMesas/srvMesas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61599/srvMesas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerMesas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMesasResult" nillable="true" type="q1:ArrayOfTREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesaID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mesaID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesaIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMesaIDResult" nillable="true" type="q2:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="mesa" nillable="true" type="q3:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarMesaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="mesa" nillable="true" type="q4:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarMesaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="mesa" nillable="true" type="q5:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMesaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>