ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvMesa/srvMesa.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51801/srvMesa.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerMesas_Rest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesas_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMesas_RestResult" nillable="true" type="q1:ArrayOfTREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesa_RestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdMesa" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerMesa_RestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerMesa_RestIDResult" nillable="true" type="q2:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMesa_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesa" nillable="true" type="q3:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarMesa_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarMesa_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMesa_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesa" nillable="true" type="q4:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarMesa_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarMesa_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMesa_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMesa" nillable="true" type="q5:TREST_MESAS" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarMesa_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarMesa_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>