ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvCliente/srvCliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51801/srvCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerClientes_Rest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerClientes_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerClientes_RestResult" nillable="true" type="q1:ArrayOfTREST_CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCliente_RestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdCliente" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerCliente_RestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerCliente_RestIDResult" nillable="true" type="q2:TREST_CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCliente_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q3:TREST_CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarCliente_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarCliente_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCliente_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q4:TREST_CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarCliente_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarCliente_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCliente_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCliente" nillable="true" type="q5:TREST_CLIENTES" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarCliente_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarCliente_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>