ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvCliente/srvCliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvCliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51801/srvCliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51801/srvCliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51801/srvCliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvCliente_obtenerClientes_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientes_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_obtenerClientes_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientes_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_obtenerCliente_RestID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCliente_RestID" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_obtenerCliente_RestID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerCliente_RestIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_agregarCliente_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarCliente_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_agregarCliente_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarCliente_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_modificarCliente_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarCliente_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_modificarCliente_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarCliente_RestResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_eliminarCliente_Rest_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCliente_Rest" />
  </wsdl:message>
  <wsdl:message name="IsrvCliente_eliminarCliente_Rest_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCliente_RestResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvCliente">
    <wsdl:operation name="obtenerClientes_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/obtenerClientes_Rest" message="tns:IsrvCliente_obtenerClientes_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/obtenerClientes_RestResponse" message="tns:IsrvCliente_obtenerClientes_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerCliente_RestID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/obtenerCliente_RestID" message="tns:IsrvCliente_obtenerCliente_RestID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/obtenerCliente_RestIDResponse" message="tns:IsrvCliente_obtenerCliente_RestID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarCliente_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/agregarCliente_Rest" message="tns:IsrvCliente_agregarCliente_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/agregarCliente_RestResponse" message="tns:IsrvCliente_agregarCliente_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarCliente_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/modificarCliente_Rest" message="tns:IsrvCliente_modificarCliente_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/modificarCliente_RestResponse" message="tns:IsrvCliente_modificarCliente_Rest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente_Rest">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvCliente/eliminarCliente_Rest" message="tns:IsrvCliente_eliminarCliente_Rest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvCliente/eliminarCliente_RestResponse" message="tns:IsrvCliente_eliminarCliente_Rest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvCliente" type="tns:IsrvCliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerClientes_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/obtenerClientes_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerCliente_RestID">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/obtenerCliente_RestID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarCliente_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/agregarCliente_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCliente_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/modificarCliente_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente_Rest">
      <soap:operation soapAction="http://tempuri.org/IsrvCliente/eliminarCliente_Rest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvCliente">
    <wsdl:port name="BasicHttpBinding_IsrvCliente" binding="tns:BasicHttpBinding_IsrvCliente">
      <soap:address location="http://localhost:51801/srvCliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>