ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvReservacion/srvReservacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:51801/srvReservacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerReservaciones_Rest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservaciones_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerReservaciones_RestResult" nillable="true" type="q1:ArrayOfTREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservacion_RestID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pIdReservacion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservacion_RestIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerReservacion_RestIDResult" nillable="true" type="q2:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReservacion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pReservacion" nillable="true" type="q3:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReservacion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarReservacion_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarReservacion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pReservacion" nillable="true" type="q4:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarReservacion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarReservacion_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarReservacion_Rest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pReservacion" nillable="true" type="q5:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarReservacion_RestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarReservacion_RestResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>