ProyectoFinal_UI/Connected Services/srvClientes/srvClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvClientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61599/srvClientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61599/srvClientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61599/srvClientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvClientes_obtenerClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientes" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_obtenerClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_obtenerClientesID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientesID" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_obtenerClientesID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerClientesIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_agregarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarCliente" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_agregarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_modificarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarCliente" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_modificarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_eliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarCliente" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_eliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvClientes">
    <wsdl:operation name="obtenerClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/obtenerClientes" message="tns:IsrvClientes_obtenerClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/obtenerClientesResponse" message="tns:IsrvClientes_obtenerClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerClientesID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/obtenerClientesID" message="tns:IsrvClientes_obtenerClientesID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/obtenerClientesIDResponse" message="tns:IsrvClientes_obtenerClientesID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/agregarCliente" message="tns:IsrvClientes_agregarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/agregarClienteResponse" message="tns:IsrvClientes_agregarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/modificarCliente" message="tns:IsrvClientes_modificarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/modificarClienteResponse" message="tns:IsrvClientes_modificarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/eliminarCliente" message="tns:IsrvClientes_eliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/eliminarClienteResponse" message="tns:IsrvClientes_eliminarCliente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvClientes" type="tns:IsrvClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerClientes">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/obtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerClientesID">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/obtenerClientesID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarCliente">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/agregarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarCliente">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/modificarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/eliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvClientes">
    <wsdl:port name="BasicHttpBinding_IsrvClientes" binding="tns:BasicHttpBinding_IsrvClientes">
      <soap:address location="http://localhost:61599/srvClientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>