ProyectoFinal_UI/Connected Services/srvReservaciones/srvReservaciones.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvReservaciones" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61599/srvReservaciones.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61599/srvReservaciones.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61599/srvReservaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvReservaciones_obtenerReservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerReservacion" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_obtenerReservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_obtenerReservacionID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerReservacionID" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_obtenerReservacionID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerReservacionIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_agregarReservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarReservacion" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_agregarReservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_modificarReservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarReservacion" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_modificarReservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarReservacionResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_eliminarReservacion_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarReservacion" />
  </wsdl:message>
  <wsdl:message name="IsrvReservaciones_eliminarReservacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarReservacionResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvReservaciones">
    <wsdl:operation name="obtenerReservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReservaciones/obtenerReservacion" message="tns:IsrvReservaciones_obtenerReservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReservaciones/obtenerReservacionResponse" message="tns:IsrvReservaciones_obtenerReservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerReservacionID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReservaciones/obtenerReservacionID" message="tns:IsrvReservaciones_obtenerReservacionID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReservaciones/obtenerReservacionIDResponse" message="tns:IsrvReservaciones_obtenerReservacionID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarReservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReservaciones/agregarReservacion" message="tns:IsrvReservaciones_agregarReservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReservaciones/agregarReservacionResponse" message="tns:IsrvReservaciones_agregarReservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarReservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReservaciones/modificarReservacion" message="tns:IsrvReservaciones_modificarReservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReservaciones/modificarReservacionResponse" message="tns:IsrvReservaciones_modificarReservacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarReservacion">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvReservaciones/eliminarReservacion" message="tns:IsrvReservaciones_eliminarReservacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvReservaciones/eliminarReservacionResponse" message="tns:IsrvReservaciones_eliminarReservacion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvReservaciones" type="tns:IsrvReservaciones">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerReservacion">
      <soap:operation soapAction="http://tempuri.org/IsrvReservaciones/obtenerReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerReservacionID">
      <soap:operation soapAction="http://tempuri.org/IsrvReservaciones/obtenerReservacionID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarReservacion">
      <soap:operation soapAction="http://tempuri.org/IsrvReservaciones/agregarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarReservacion">
      <soap:operation soapAction="http://tempuri.org/IsrvReservaciones/modificarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarReservacion">
      <soap:operation soapAction="http://tempuri.org/IsrvReservaciones/eliminarReservacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvReservaciones">
    <wsdl:port name="BasicHttpBinding_IsrvReservaciones" binding="tns:BasicHttpBinding_IsrvReservaciones">
      <soap:address location="http://localhost:61599/srvReservaciones.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>