ProyectoFinal_UI/Connected Services/srvReservaciones/srvReservaciones2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61599/srvReservaciones.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerReservacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerReservacionResult" nillable="true" type="q1:ArrayOfTREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservacionID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerReservacionIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerReservacionIDResult" nillable="true" type="q2:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="reservacion" nillable="true" type="q3:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarReservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarReservacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarReservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="reservacion" nillable="true" type="q4:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarReservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarReservacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarReservacion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="reservacion" nillable="true" type="q5:TREST_RESERVACION" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarReservacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarReservacionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>