ProyectoFinalGrupo2IU/InterfazUsuario/Connected Services/ReferenciaSrvSeguridad/srvSeguridad.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TUSR_USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_Contrasena" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TUSR_PERFILES" nillable="true" type="tns:ArrayOfTUSR_PERFILES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUSR_USUARIOS" nillable="true" type="tns:TUSR_USUARIOS" />
  <xs:complexType name="ArrayOfTUSR_PERFILES">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUSR_PERFILES" nillable="true" type="tns:TUSR_PERFILES" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUSR_PERFILES" nillable="true" type="tns:ArrayOfTUSR_PERFILES" />
  <xs:complexType name="TUSR_PERFILES">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_NomPerfil" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_Perfil" type="xs:int" />
      <xs:element minOccurs="0" name="TUSR_USUARIOS" nillable="true" type="tns:ArrayOfTUSR_USUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TUSR_PERFILES" nillable="true" type="tns:TUSR_PERFILES" />
  <xs:complexType name="ArrayOfTUSR_USUARIOS">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TUSR_USUARIOS" nillable="true" type="tns:TUSR_USUARIOS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTUSR_USUARIOS" nillable="true" type="tns:ArrayOfTUSR_USUARIOS" />
  <xs:complexType name="ArrayOfPA_recPerfilesXUsuario_Result">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PA_recPerfilesXUsuario_Result" nillable="true" type="tns:PA_recPerfilesXUsuario_Result" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPA_recPerfilesXUsuario_Result" nillable="true" type="tns:ArrayOfPA_recPerfilesXUsuario_Result" />
  <xs:complexType name="PA_recPerfilesXUsuario_Result">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_Usuario" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_Perfil" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PA_recPerfilesXUsuario_Result" nillable="true" type="tns:PA_recPerfilesXUsuario_Result" />
</xs:schema>