ProyectoFinal_UI/Connected Services/srvMenu/srvMenu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvMenu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61599/srvMenu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61599/srvMenu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61599/srvMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMenu_obtenerMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerItemMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerItemMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_obtenerItemMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerItemMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_agregarItemMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarItemMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_agregarItemMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarItemMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_modificarItemMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarItemMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_modificarItemMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarItemMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_elimiarItemMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:elimiarItemMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvMenu_elimiarItemMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:elimiarItemMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMenu">
    <wsdl:operation name="obtenerMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenu" message="tns:IsrvMenu_obtenerMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/obtenerMenuResponse" message="tns:IsrvMenu_obtenerMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="obtenerItemMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/obtenerItemMenu" message="tns:IsrvMenu_obtenerItemMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/obtenerItemMenuResponse" message="tns:IsrvMenu_obtenerItemMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarItemMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/agregarItemMenu" message="tns:IsrvMenu_agregarItemMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/agregarItemMenuResponse" message="tns:IsrvMenu_agregarItemMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarItemMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/modificarItemMenu" message="tns:IsrvMenu_modificarItemMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/modificarItemMenuResponse" message="tns:IsrvMenu_modificarItemMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="elimiarItemMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMenu/elimiarItemMenu" message="tns:IsrvMenu_elimiarItemMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMenu/elimiarItemMenuResponse" message="tns:IsrvMenu_elimiarItemMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMenu" type="tns:IsrvMenu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/obtenerMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerItemMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/obtenerItemMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarItemMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/agregarItemMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarItemMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/modificarItemMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="elimiarItemMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvMenu/elimiarItemMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMenu">
    <wsdl:port name="BasicHttpBinding_IsrvMenu" binding="tns:BasicHttpBinding_IsrvMenu">
      <soap:address location="http://localhost:61599/srvMenu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>