ProyectoFinal_UI/Connected Services/srvMenu/srvMenu2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTREST_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TREST_MENU" nillable="true" type="tns:TREST_MENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTREST_MENU" nillable="true" type="tns:ArrayOfTREST_MENU" />
  <xs:complexType name="TREST_MENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_DscMenu" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TD_Precio" type="xs:decimal" />
      <xs:element minOccurs="0" name="TN_IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdTipoMenu" type="xs:int" />
      <xs:element minOccurs="0" name="TREST_RESERVACION" nillable="true" type="tns:ArrayOfTREST_RESERVACION" />
      <xs:element minOccurs="0" name="TREST_TIPOMENU" nillable="true" type="tns:TREST_TIPOMENU" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TREST_MENU" nillable="true" type="tns:TREST_MENU" />
  <xs:complexType name="ArrayOfTREST_RESERVACION">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TREST_RESERVACION" nillable="true" type="tns:TREST_RESERVACION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTREST_RESERVACION" nillable="true" type="tns:ArrayOfTREST_RESERVACION" />
  <xs:complexType name="TREST_RESERVACION">
    <xs:sequence>
      <xs:element minOccurs="0" name="TF_FecReserva" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TN_Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdMenu" type="xs:int" />
      <xs:element minOccurs="0" name="TN_IdMesa" type="xs:int" />
      <xs:element minOccurs="0" name="TN_NumReservacion" type="xs:int" />
      <xs:element minOccurs="0" name="TREST_CLIENTES" nillable="true" type="tns:TREST_CLIENTES" />
      <xs:element minOccurs="0" name="TREST_MENU" nillable="true" type="tns:TREST_MENU" />
      <xs:element minOccurs="0" name="TREST_MESAS" nillable="true" type="tns:TREST_MESAS" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TREST_RESERVACION" nillable="true" type="tns:TREST_RESERVACION" />
  <xs:complexType name="TREST_CLIENTES">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_Ap1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Ap2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_CorreoElectronico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TC_Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdCliente" type="xs:int" />
      <xs:element minOccurs="0" name="TREST_RESERVACION" nillable="true" type="tns:ArrayOfTREST_RESERVACION" />
      <xs:element minOccurs="0" name="Tc_NumTelefonico" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TREST_CLIENTES" nillable="true" type="tns:TREST_CLIENTES" />
  <xs:complexType name="TREST_MESAS">
    <xs:sequence>
      <xs:element minOccurs="0" name="TC_DscMesa" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TN_IdMesa" type="xs:int" />
      <xs:element minOccurs="0" name="TREST_RESERVACION" nillable="true" type="tns:ArrayOfTREST_RESERVACION" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TREST_MESAS" nillable="true" type="tns:TREST_MESAS" />
  <xs:complexType name="TREST_TIPOMENU">
    <xs:sequence>
      <xs:element minOccurs="0" name="TN_IdTipoMenu" type="xs:int" />
      <xs:element minOccurs="0" name="TREST_MENU" nillable="true" type="tns:ArrayOfTREST_MENU" />
      <xs:element minOccurs="0" name="Tc_DscTipoMenu" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TREST_TIPOMENU" nillable="true" type="tns:TREST_TIPOMENU" />
</xs:schema>