ProyectoFinal_UI/Connected Services/srvTipoMenu/srvTipoMenu.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvTipoMenu" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61599/srvTipoMenu.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61599/srvTipoMenu.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61599/srvTipoMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvTipoMenu_obtenerTipoMenuID_InputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTipoMenuID" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_obtenerTipoMenuID_OutputMessage">
    <wsdl:part name="parameters" element="tns:obtenerTipoMenuIDResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_agregarTipoMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:agregarTipoMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_agregarTipoMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:agregarTipoMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_modificarTipoMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:modificarTipoMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_modificarTipoMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:modificarTipoMenuResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_eliminarTipoMenu_InputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoMenu" />
  </wsdl:message>
  <wsdl:message name="IsrvTipoMenu_eliminarTipoMenu_OutputMessage">
    <wsdl:part name="parameters" element="tns:eliminarTipoMenuResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvTipoMenu">
    <wsdl:operation name="obtenerTipoMenuID">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvTipoMenu/obtenerTipoMenuID" message="tns:IsrvTipoMenu_obtenerTipoMenuID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvTipoMenu/obtenerTipoMenuIDResponse" message="tns:IsrvTipoMenu_obtenerTipoMenuID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="agregarTipoMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvTipoMenu/agregarTipoMenu" message="tns:IsrvTipoMenu_agregarTipoMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvTipoMenu/agregarTipoMenuResponse" message="tns:IsrvTipoMenu_agregarTipoMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modificarTipoMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvTipoMenu/modificarTipoMenu" message="tns:IsrvTipoMenu_modificarTipoMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvTipoMenu/modificarTipoMenuResponse" message="tns:IsrvTipoMenu_modificarTipoMenu_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoMenu">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvTipoMenu/eliminarTipoMenu" message="tns:IsrvTipoMenu_eliminarTipoMenu_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvTipoMenu/eliminarTipoMenuResponse" message="tns:IsrvTipoMenu_eliminarTipoMenu_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvTipoMenu" type="tns:IsrvTipoMenu">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="obtenerTipoMenuID">
      <soap:operation soapAction="http://tempuri.org/IsrvTipoMenu/obtenerTipoMenuID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="agregarTipoMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvTipoMenu/agregarTipoMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modificarTipoMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvTipoMenu/modificarTipoMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTipoMenu">
      <soap:operation soapAction="http://tempuri.org/IsrvTipoMenu/eliminarTipoMenu" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvTipoMenu">
    <wsdl:port name="BasicHttpBinding_IsrvTipoMenu" binding="tns:BasicHttpBinding_IsrvTipoMenu">
      <soap:address location="http://localhost:61599/srvTipoMenu.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>