ProyectoFinal_UI/Connected Services/srvTipoMenu/srvTipoMenu.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61599/srvTipoMenu.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="obtenerTipoMenuID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="obtenerTipoMenuIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="obtenerTipoMenuIDResult" nillable="true" type="q1:TREST_TIPOMENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarTipoMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="tipo" nillable="true" type="q2:TREST_TIPOMENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="agregarTipoMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="agregarTipoMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarTipoMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="tipo" nillable="true" type="q3:TREST_TIPOMENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modificarTipoMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modificarTipoMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoMenu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="tipo" nillable="true" type="q4:TREST_TIPOMENU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="eliminarTipoMenuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="eliminarTipoMenuResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>